#footer {
    background-color: #080101;
    color: #ffffff;
    padding: 1rem 6rem;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.footer-main {
    display: flex;
    justify-content: space-between;
    align-items: center; /* <-- isso é o que centraliza verticalmente */
    gap: 6rem;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    min-height: 220px; /* ⬅️ altura mínima definida para permitir o alinhamento */
}


.footer-top {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    gap: 1.2rem;
     margin-top: 30px;
}


/* a logo não precisa mais de margin-top extra */
.footer-logo {
    width: 203px;
    height: 50px;
    margin-top: 0;
}

.footer-description {
    margin-top: 1rem;
    font-size: 14px;
    line-height: 1.6;
}

.footer-links {
    display: flex;
    gap: 8.2rem; /* espaço entre os blocos de link */
    margin-top: 50px;
}

.footer-links h4 {
    margin-bottom: 0.8rem;
    font-size: 16px;
    color: #fff;
}

.footer-links ul {
    list-style: none;
    padding-top: 22px;
    min-width: 150px;
}

.footer-links li {
    margin-bottom: 0.5rem;
    font-size: 13px;
    cursor: pointer;
    color: #ccc;
}

.footer-links li:hover {
    color: #fff;
}

.footer-bottom {
    border-top: 1px solid #333;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.social-icons i {
    margin-right: 1rem;
    font-size: 19px;
    cursor: pointer;
    color: #ccc;
}

.social-icons i:hover {
    color: #ffffff;
}

@media (max-width: 768px) {
  .footer-main {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-links {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .footer-top {
    align-items: center;
  }
}
