#header {
  display: flex;
  
  height: 192px;
  width: 100%;
  background-color: #FFFFFF;
}

#logo-header {
  width: 253px;
  height: 44px;
  padding-top: 10px;
}

#search-pesquisa {
  width: 670px;
  height: 50px;
  background-color: #F5F5F5;
}