@import "tailwindcss";
@import 'bootstrap/dist/css/bootstrap.min.css';

.custom-caption {
  background-color: rgba(128, 128, 128, 0.7); /* cinza translúcido */
  color: white; /* cor do texto */
  padding: 1rem;
  border-radius: 8px;
}

/* Setas de navegação em cinza */
.gray-icon {
  filter: brightness(0.5) invert(0.4); /* tonalidade cinza */
}
